.not-active
{
   visibility: hidden;
}

.active 
{
   visibility: visible !important;
}

.hidden-on-desktop
{
   display: block;
}

.hidden-on-mobile
{
   display: block;
}

@media screen and (min-width: 800px) 
{
   .hidden-on-desktop
   {
      display: none !important;
   }
}

@media screen and (max-width: 720px) 
{
   .hidden-on-mobile
   {
      display: none;
   }
}