$background-image-colors: #2d3436;

h1 
{
   font-family: 'Open Sans', sans-serif;
}

h2 
{
   font-family: 'Open Sans', sans-serif;
}

h3
{
   font-family: 'Open Sans', sans-serif;
}

p 
{
   font-family: 'Roboto', sans-serif;
}

.code 
{
   font-family: 'Roboto', sans-serif;
}

.background
{
   background-color: $background-image-colors;
}

body 
{
   position: relative;
   margin:0px;
   padding: 0px;
}


.cases
{
   @extend .py-5;
   @extend .px-3;
   @extend .background;
}

.cases .cases-containment
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 32px;
}

.cases .case
{
   @extend .background;
   position: relative;
}

.cases .case:hover img
{
   opacity: 0.3;
}

.cases .case h3
{
   color: white;
   position: absolute;
   text-align: center;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
}

.cases .case:hover h3
{
   opacity: 1.0;
}


.cases h2
{
   color:white;
   text-align: center;
}


.cases .case p
{
   text-align: center;
   color:white;
}

.cases .case img
{
   width: 100% !important;
   height: auto;
   object-fit: cover;
}

.cover-image
{
   position: relative;
   width: 100%;
   height: 500px;
   background-color: $background-image-colors;
}

.cover-image img 
{
   width: 100% !important;
   height: 500px;
   opacity: 0.45;
   object-fit: cover;
}

.cover-image div
{
   position: absolute;
   width: 100%;
   color: white;
   text-align: center;
   top: 0px;
   top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#sidebar
{
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   height: 100%;
   width: 75px;

   right: 0px;
   top:0px;
}

#scroll-button
{
   
   @extend .my-4;
   border-radius: 100%;

   height: 50px;
   width: 50px;
   
   
   background: #1e3c72; /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #1e3c72, #2a5298); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #1e3c72, #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


   color: white;

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 32px;

   cursor: pointer;
}

.tasks 
{
   @extend .my-4;
}

.tasks h2
{
   text-align: center;
}

.tasks-containment
{
   display: grid;
   grid-template-columns: auto auto;
   grid-gap: 16px;
}

.tasks-containment .task
{
   @extend .py-4;
   @extend .px-3;
   text-decoration: none;
}

.tasks-containment .task h3
{
   color: black;
}

.tasks-containment .task:hover h3
{
   color: #1e3c72;
}

.tasks-containment .task p
{
   color: black;
}

.sum 
{
   @extend .py-5;
}

.sum h1 
{
   text-align: center;
}

.sum p 
{
   text-align: center;
}

.sum .containment
{
   
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
   grid-gap: 32px;
}

.posts-container 
{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap:0px;
}

.posts 
{
   @extend .py-5;
}

.posts h2
{
   text-align: center !important;
}

.post 
{
   background: #1e3c72; /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #1e3c72, #2a5298); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #1e3c72, #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   color: white;
}

.post img
{
   width: 100%;
   max-height: 350px !important;
   opacity: 0.54;
   object-fit: cover;
}

.button
{
   @extend .btn;
   @extend .btn-primary;
}

.post .post-page
{
   position: relative;
}

.post div .text-container
{
   width: 100%;
   @extend .py-4;
   @extend .px-2;
   
   position: absolute;
   top: 0px;
}

.sum .sum-link
{
   @extend a;
   text-decoration: none !important;
}

.sum .sum-link .logo
{
   text-align: center;
   font-size: 72px;
}

.bold 
{
   font-weight: bold;
   color:black !important;
}

.sum .sum-link .description
{
   color: black !important;
}

.process
{
   @extend .py-5;
}

.process h2
{
   text-align: center;
}

.process .process-container
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-gap: 64px;
   
}

.process .process-container p
{
   text-align: center;
   
}

.journal
{
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto;
}

.journal .journal-entry
{
   @extend .py-2;
   @extend .px-4;
   
   text-decoration: none;
}

.journal .journal-entry p
{
   color: black;
}

@import './menu.scss';
@import './header.scss';
@import './footer.scss';


@media screen and (max-width: 1256px) 
{
   .tasks-containment
   {
      grid-template-columns: auto;
      grid-template-rows: auto;
   }
  
}

@media screen and (max-width: 1024px) 
{
   .posts-container 
   {
      grid-template-columns: auto !important;
      grid-template-rows: auto auto auto auto !important;
   }

   .cases .containment
   { 
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;  
   }

   .sum .containment
   {
      
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
   }
   
   .process .process-container
   {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
      grid-gap: 64px;
      
   }

   footer .widgets
   {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;

   }

   
   #menu-misc
   {
      flex-direction: column;
      
   }
}

@import 'bootstrap/bootstrap.scss';