$background-image-colors: #2d3436;

body 
{
   margin:0px;
   padding: 0px;
}

header 
{

}

header nav 
{
   @extend .navbar;
   @extend .navbar-expand-lg;
   @extend .navbar-light;
   @extend .bg-light;
   
}

header nav ul 
{
   @extend .navbar-nav;
   
}

header nav ul li 
{
   @extend .nav-item;
   
}

header nav ul a
{
   @extend .nav-link;
   
}

header nav ul .active a
{
   
   
}

footer .widgets
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 32px;
   @extend .bg-dark;
   color: white;

   padding-top: 32px;
   padding-bottom: 32px;
}

footer .widgets .widgetizedArea
{
   margin-right: 32px;
   margin-left: 32px;
}

.widgetizedArea ul li
{
   list-style: none;
}

.widgetizedArea div ul li
{
   list-style: none;
}

.cover-image
{
   position: relative;
   width: 100%;
   height: 500px;
   background-color: $background-image-colors;
}

.cover-image img 
{
   width: 100% !important;
   height: 500px;
   opacity: 0.45;
   object-fit: cover;
}

.cover-image div
{
   position: absolute;
   width: 100%;
   color: white;
   text-align: center;
   top: 0px;
   top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#menu-social-media
{
   margin: 0px;
   padding: 0px;
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
}

#menu-social-media li 
{
   @extend .mx-2;
   list-style: none !important;
}

#menu-social-media i 
{
   font-size: 32px !important;
}

#menu-social-container
{
   margin: 0px;
   padding: 0px;
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
}

#menu-social-container li 
{
   @extend .mx-2;
   list-style: none !important;
}

#menu-social-container i 
{
   font-size: 32px !important;
}

@media screen and (max-width: 1024px) 
{
   footer .widgets
   {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;

   }
   
}


@import 'bootstrap/bootstrap.scss';