
.cases
{
   @extend .py-5;
   @extend .px-3;
   @extend .background;
}

.cases .cases-containment
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 32px;
}

.cases .case
{
   @extend .background;
   position: relative;
}

.cases .case:hover img
{
   opacity: 0.3;
}

.cases .case h3
{
   color: white;
   position: absolute;
   text-align: center;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
}

.cases .case:hover h3
{
   opacity: 1.0;
}


.cases h2
{
   color:white;
   text-align: center;
}


.cases .case p
{
   text-align: center;
   color:white;
}

.cases .case img
{
   width: 100% !important;
   height: auto;
   object-fit: cover;
}

@media screen and (max-width: 1024px) 
{
   .cases .containment
   { 
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;  
   }

}
